<section class="highlights">
  <div class="container">
    <div class="highlight-item">
      <p class="highlight-item-img-1"></p>
      <div class="highlight-item-wrapper">
        <h2 class="highlight-item-heading"><span>Perfect</span> landing page for your app</h2>
        <p class="highlight-item-text">This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment, and found herself walking.</p>
      </div>
    </div>
    <div class="highlight-item">
      <div class="highlight-item-wrapper">
        <h2 class="highlight-item-heading"><span>Style guide</span> and sample pages included</h2>
        <p class="highlight-item-text">This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment, and found herself walking.</p>
      </div>
      <p class="highlight-item-img-2"></p>
    </div>
  </div>
</section>