<section class="get-started">
  <div class="container">
    <div class="wrapper">
      <h2 class="get-started-heading"><span>Download</span> to get started</h2>
      <p class="get-started-text">
        This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment.
      </p>
    </div>
    <div class="get-started-actions">
      <button class="buy">Buy for $24</button>
      <button class="try">Try It Free</button>
    </div>
  </div>
</section>
